.sts-test {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 40px;
    &__progress-buttons {
        display: flex;
        justify-content: center;
        gap: 100px;
        button {
            border: 2px solid #5BDDFA;
            background: #ffffff;
            cursor: pointer;
            padding:12px;
            width: 30%;
            border-radius: 4px;
            &.selected {
                background:#5BDDFA;
            }
        }
    }
    .sts-test__topics {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        .sts-test__topic {
            display: flex;
            width: 100%;
            // flex-wrap: wrap;s
            gap: 20px;
            justify-content: center;
            &.disabled,&.completed {
                pointer-events: none;
            }
        }
        .sts-test__topic-button {
            width: 30%;
            padding: 8px;
            background: #FFFFFF;
            border-radius: 4px;
            border: 1px solid #282828;

        }
        .sts-test__topic-test {
            padding: 8px 32px;
            border-radius: 4px;
            background: #7F01A6;
            border: 0px;
            color: #FFFFFF;
            cursor: pointer;
            display: flex;
            gap:4px;
            svg {
                color: #282828;
                font-size: 12px;
            }
        }
    }
    .sts-test__topics-completed {
        .sts-test__topic {
            display: flex;
            width: 100%;
            // flex-wrap: wrap;s
            gap: 20px;
            justify-content: center;
        }
        .sts-test__topic-button {
            width: 30%;
            padding: 8px;
            background: #FFFFFF;
            border-radius: 4px;
            border: 1px solid #282828;
            pointer-events: none;
        }
        .sts-test__topic-result {
            padding: 8px 32px;
            border-radius: 4px;
            background: #7F01A6;
            border: 0px;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
}