.sts-student-assessment {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .container {
        padding: 20px;
      }
      .header {
        margin-bottom: 10px;
        text-align: center;
      }
      .dropdown {
        padding: 8px;
        margin: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        background: #2A8890;
        color: #FFFFFF;
        &:focus-visible {
            outline: none;
        }
        option {
            background: #FFFFFF;
            color: #282828;
        }
      }
      .tab-container {
        display: flex;
        justify-content: space-around;
        gap: 100px;
        margin-bottom: 10px;
      }
      .tab {
       border: 2px solid #5BDDFA;
       background: #ffffff;
       cursor: pointer;
       padding: 12px 80px;
       border-radius: 4px;
      }
      .tab.active {
        background-color: #5BDDFA;
      }
      .test-card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 0px 20px;
      }
      .test-card {
        display: flex;
        align-items: center;
        padding: 10px; 
        background: #EDF4F4;
        margin-bottom: 5px;
        border-radius: 5px;
        width: 60%;
        .test-card-header {
            display: flex;
            flex-direction: column;
            gap: 4px;
            p {
                margin: 0;
                display: flex;
                svg {
                    color: #282828;
                    padding-right: 6px;
                    margin-top: 4px;
                }
            }
        }
        .test-content {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
      }
      .test-title {
        font-weight: bold;
      }
      .view-results {
        background-color: #7F01A6;
        color: white;
        padding: 10px 16px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
      }
      .take-test {
        background-color: #7F01A6;
        color: white;
        padding: 10px 16px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
      }
}