.dashboard-container {
    padding: 24px;
  }
  
  .dashboard-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .subject-dropdown {
    background-color: #2A8890;
    border: 1px solid #282828;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    option {
      background: #FFFFFF;
      color: #282828;
    }
  }
  
  .dashboard-content {
    width: 80%;
  }
  
  .dashboard-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .first-half {
    padding-bottom: 15px;
  }
  
  .second-half {
    display: flex;
    justify-content: space-around;
  }
  
  .stat-box {
    border: 1px solid #FFC905;
    border-radius: 15px;
    padding: 10px;
    width: 240px;
    height: 100px;
  }
  
  .stat-value {
    font-size: 1.25rem;
    font-weight: bold;
    margin-right: 30px;
  }
  