.sts-create-password {
    &.create-form-container {
        max-width: 320px;
        min-width: 320px;
        margin: 50px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #f9f9f9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        box-sizing: border-box; 
    }
    
    .create-h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #005f73;
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    .create-form-row {
        margin-bottom: 15px;
        position: relative;
    }
    
    .create-label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: #555;
    }
    
    .create-input {
        width: calc(100% - 20px); /* Adjusted to avoid overflow */
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
    
    }
    
    .create-input:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
    }
    
    .create-button {
        padding: 10px;
        font-size: 16px;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .create-button:hover {
        background-color: #0056b3;
    }
    
    .create-error {
        color: red;
        font-size: 12px;
        margin-top: 5px;
        // position: absolute; /* Ensures error doesn't disrupt layout */
        bottom: -20px; /* Adjust as needed to position error below input */
        left: 0;
        right: 0;
        text-align: left; /* Align with input/label */
        white-space: wrap; /* Prevent error text from wrapping */
        // overflow: hidden;
        // text-overflow: ellipsis; 
    }
    
}